In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_data = pd.read_csv('./data/example-csv.csv')
csv_data

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333

In [5]:
csv_data['sum'] = csv_data['1'] + csv_data['2'] + csv_data['3']
csv_data['product'] = csv_data['1'] * csv_data['2'] * csv_data['3']
csv_data

      1     2     3     product   sum
0    11    22    33        7986    66
1   111   222   333     8205786   666
2  1111  2222  3333  8227983786  6666

In [7]:
csv_data.to_csv('./data/output.csv', index=False)

In [9]:
pd.read_excel('./data/example-excel.xlsx')

       1      2      3
0     11     22     33
1    111    222    333
2   1111   2222   3333
3  11111  22222  33333

In [11]:
pd.read_excel('./data/example-two.xlsx', sheet_name='Sheet2')

     0    1
0  123  234
1  123  234