In [1]:
import pandas as pd
import numpy as np

In [2]:
my_index = [('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]
my_index = pd.MultiIndex.from_tuples(my_index)

my_df = pd.DataFrame(np.random.randn(6,2), index=my_index, columns=['Res1', 'Res2'])

In [3]:
my_df

             Res1      Res2
Slot1 1 -0.605122  2.117064
      2 -1.492870  0.805370
      3  0.828940  0.422113
Slot2 1 -0.546111 -0.633362
      2 -1.154615 -0.845316
      3  0.436105  1.289253

In [4]:
my_df.loc['Slot1']

       Res1      Res2
1 -0.605122  2.117064
2 -1.492870  0.805370
3  0.828940  0.422113

In [5]:
my_df.loc['Slot1',1]

Res1   -0.605122
Res2    2.117064
Name: (Slot1, 1), dtype: float64

In [6]:
my_df.index.names = ['Slot', 'Var']

In [7]:
my_df

               Res1      Res2
Slot  Var
Slot1 1   -0.605122  2.117064
      2   -1.492870  0.805370
      3    0.828940  0.422113
Slot2 1   -0.546111 -0.633362
      2   -1.154615 -0.845316
      3    0.436105  1.289253

### Getting Cross sections

In [8]:
my_df.xs('Slot1')

         Res1      Res2
Var
1   -0.605122  2.117064
2   -1.492870  0.805370
3    0.828940  0.422113

In [9]:
my_df.xs('Slot1').xs(2)

Res1   -1.49287
Res2    0.80537
Name: 2, dtype: float64

In [10]:
my_df.xs(2, level='Var')

           Res1      Res2
Slot
Slot1 -1.492870  0.805370
Slot2 -1.154615 -0.845316